* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 250px;
  max-height: 250px;
  min-width: 200px;
  min-height: 200px;
}
.all-cards{
  place-content: center;
  place-items: center;
  justify-content: center;
  text-align: center;
}