* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* anthony */
html,
body,
#root,
.app,
.container {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  position: relative;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem;
}

li.ps-active {
  background-color: #f5f5f5;
}

.top-nav {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 4vw;
}

.links {
  display: flex;
}
.links .icon {
  margin: auto 2rem;
  cursor: pointer;
}
.search input {
  border: none;
  /* border-left: 1px solid #000; */
  border-bottom: 1px solid #000;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  width: 20vw;
}
.search button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
/* Danner */
img{
  max-width: 250px;
  max-height: 250px;
  min-width: 200px;
  min-height: 200px;
}
.all-cards{
  place-content: center;
  place-items: center;
  justify-content: center;
  text-align: center;
}
.dogPage{
  place-content: center;
  place-items: center;
  justify-content: center;
  text-align: center;
}
